.video-container {
    /* margin to allow '.cke_widget_drag_handler' to be displayed correctly in the editor */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

video-content {
    background: #333;
    color: #f3f3f3;
    min-height: 5rem;
    display: block;
    padding: 1rem;
}

video-content .video-content-placeholder {
    /*width: 10%;*/
}

video-content .video-content-placeholder * {
    margin: 0;
}

video-content .video-content-placeholder .video-icon {
    /* margin value must correspond to video-content's padding */
    margin-bottom: 1rem;
}

video-content .video-title {
    padding: 1rem;
    margin: 0 0 1rem 0;
    font-size: 3rem;
    /*width: 80%;*/
}

video-content[layout="vertical"] .video-preview-placeholder,
video-content[layout="vertical"] .video-chapters {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.video-preview-placeholder {
    /*background-image: url("//dummyimage.com/640x360/f3f3f3/333.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*width: 640px;*/
    /*height: 360px;*/
    /*margin: 1rem 1rem 0 0;*/
    background-color: #b9b9b9;
    height: 360px;
    width: 100%;
}

video-content .video-chapters {
    background: #126685;
}

.video-chapter {
    background: #1594cd;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    display: flex;
}

.video-chapters .cke_widget_selected .video-chapter {
    background: #ffd25c;
    color: #333;
}

.video-chapter-seconds,
.video-chapter-title {
    font-size: 2rem;
    margin: 0;
    padding-left: 1rem;
}

.video-chapter-seconds {
    width: 20%;
    font-family: monospace;
}

.video-chapter-title {
    margin-left: 2rem;
    width: 80%;
}

/* Apply the following rule only if seconds and title are editable */
/*.video-chapter-seconds:hover,
.video-chapter-title:hover {
    background: #f3f3f3;
    color: #333;
}*/
